---
import Base from '../layouts/Base.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Problem from '../components/Problem.astro';
import Cost from '../components/Cost.astro';
import Approach from '../components/Approach.astro';
import Audiences from '../components/Audiences.astro';
import Proof from '../components/Proof.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Navbar />
  <main>
    <Hero />
    <Problem />
    <Cost />
    <Approach />
    <Audiences />
    <Proof />
    <Contact />
  </main>
  <Footer />
</Base>
